<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <a href="https://www.upgrad.com/contact/" target="blank" class="btn btn-link" role="button">Contact Us</a>
        </div>
        <div>
            &copy; upGrad
        </div>
        <div>
            <a href="https://www.facebook.com/UpGradGlobal" target="blank" class="btn btn-link"
                role="button">Facebook</a>
            <a href="https://twitter.com/UpGrad_Edu" target="blank" class="btn btn-link" role="button">Twitter</a>
        </div>
    </div>

</footer>