<div class="container">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <div *ngIf="errorStatusMessage !==''" class="message-alert">
                <alert type="danger">{{errorStatusMessage}}</alert>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    <h2>Sign In</h2>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="signinForm" (ngSubmit)="submitSigninForm()">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label><strong>Email ID:</strong></label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" formControlName="email">
                                <span class="text-danger"
                                    *ngIf="signinFormControl.email.touched && signinFormControl.email.errors?.required">
                                    Email id is required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="signinFormControl.email.touched && signinFormControl.email.errors?.email">
                                    Enter a valid email address.
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label><strong>Password:</strong></label>
                            </div>
                            <div class="col">
                                <input type="password" class="form-control" formControlName="password">
                                <span class=" text-danger"
                                    *ngIf="signinFormControl.password.touched && signinFormControl.password.errors?.required">
                                    Password is required.
                                </span>
                            </div>
                        </div>
                        <div class="row form-group justify-content-center">
                            <button [disabled]="signinForm.invalid" type="submit" class="btn btn-primary col-md-5">Sign
                                In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>