<div class="home-container d-flex flex-column justify-content-center align-items-center">
    <h4>Self-drive vehicle rental in Mumbai</h4>
    <div class="container">
        <div class="row">
            <button [disabled]='isBookNowDisabled' [routerLink]='["/book-vehicle"]'
                class="btn btn-success col-md-3 col-sm-6 mx-auto book-car">
                <span class="d-flex justify-content-between">Book Now
                    <i class="fa fa-arrow-circle-right d-flex align-items-center" aria-hidden="true"></i>
                </span>
            </button>
        </div>
    </div>
</div>